<form {{on "submit" this.action}}>
  <table class="w-100">
    <tbody class="w-100">
      {{#each this.formFields as |field|}}
      <tr class="w-100">
        <td>
          <label for={{field.name}}>{{field.label}}</label>
        </td>
        <td>:</td>
        <td class="w-75">
          <input type={{field.type ?? 'text'}} class="form-control" placeholder={{field.placeholder ?? 'Insert your text here'}} id={{field.name}}
            name={{field.name}}>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button type="submit" class="btn btn-warning mt-3">{{this.submitWording}}</button>
</form>