<div class="modal fade" id="{{this.id}}" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="{{this.id}}Label">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{this.id}}Label">{{this.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
    </div>
  </div>
</div>