<div class="container text-center">
  <div class="row">
    {{#each this.members.data as |member|}}
    <div class="col mb-4 mt-4 d-flex justify-content-center">
      <a class="card text-decoration-none d-block" style="width: 18rem;">
        <div class="card-head d-flex justify-content-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger" {{on "click" (fn this.deleteMember member)}}>
              Remove
            </button>
            <button class="btn btn-warning" data-bs-target="#editMember" data-bs-toggle="modal"
              {{on "click" (fn this.editMember member)}}>
              Edit
            </button>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{member.name}}</h2>
          <p class="card-text">{{member.role}}</p>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
{{!-- {{yield}} --}}

<ModalForm @id="editMember" @title="Edit Member">
  <CardForm
    @action={{this.updateMember}}
    @submitWording="Update"
    />
</ModalForm>