<div style="width: 100%;">
  <div class="row align-items-center" style="width: 100%;">
    <div class="col-auto">
      <button class="btn btn-info" title="Back" {{on "click" this.goToMainPage}}>
        Go to Main Menu
      </button>
    </div>
    <div class="col">
      <h1>{{this.team.name}}</h1>
      <small>{{this.team.description}}</small>
    </div>
    <div class="col d-flex justify-content-end">
      <button data-bs-target="#addMember" data-bs-toggle="modal" class="btn btn-info text-white"
        style="height: 100%; min-height: 4rem; min-width: 4rem">Add Member</button>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    {{#each this.members as |member|}}
    <div class="col mb-4 mt-4 d-flex justify-content-center">
      <a class="card text-decoration-none d-block" style="width: 18rem;">
        <div class="card-head d-flex justify-content-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger" {{on "click" (fn this.deleteMember member.id)}}>
              Remove
            </button>
            <button class="btn btn-warning" data-bs-target="#editMember" data-bs-toggle="modal"
              {{on "click" (fn this.editMember member)}}>
              Edit
            </button>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{member.name}}</h2>
          <p class="card-text">{{member.role}}</p>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
{{!-- {{yield}} --}}

<div class="modal fade" id="addMember" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addMemberLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMemberLabel">Add Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form {{on "submit" this.addMember}}>
          <table class="w-100">
            <tbody class="w-100">
              <tr class="w-100">
                <td>
                  <label for="name">Name</label>
                </td>
                <td>:</td>
                <td class="w-75">
                  <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                </td>
              </tr>
              <tr class="w-100">
                <td>
                  <label for="role">Role</label>
                </td>
                <td>:</td>
                <td class="w-75">
                  <input type="text" class="form-control" placeholder="Role" id="role" name="role">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary mt-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editMember" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editMemberLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editMemberLabel">Add Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form {{on "submit" this.updateMember}}>
          <table class="w-100">
            <tbody class="w-100">
              <tr class="w-100">
                <td>
                  <label for="name">Name</label>
                </td>
                <td>:</td>
                <td class="w-75">
                  <input type="text" class="form-control" placeholder="Name" id="name" name="name" value={{this.memberInEdit.name}}>
                </td>
              </tr>
              <tr class="w-100">
                <td>
                  <label for="role">Role</label>
                </td>
                <td>:</td>
                <td class="w-75">
                  <input type="text" class="form-control" placeholder="Role" id="role" name="role" value={{this.memberInEdit.role}}>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-warning mt-3">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>