{{page-title "Home"}}
{{!-- {{outlet}} --}}
<div class="container text-center">
    <div class="row">
        {{#each @model.teams as |team|}}
        <div class="col mb-4 mt-4">
            <LinkTo class="card text-decoration-none" style="width: 18rem;" @route="team-details" @model="{{ team.id }}">
                <div class="card-body">
                    <h2 class="card-title">{{team.name}}</h2>
                    <p class="card-text">{{team.description}}</p>
                </div>
            </LinkTo>
        </div>
        {{/each}}
    </div>
</div>