{{page-title "Home"}}
{{!-- {{outlet}} --}}
<div class="container text-center">
  <button style="width: 100%; height: 100%; max-width: 18rem;" class="btn btn-primary mt-5" data-bs-target="#addTeam" data-bs-toggle="modal" {{on "click" this.resetForm}}>Add Team</button>
    <div class="row row-cols-4">
        {{#each this.teams as |team|}}
        <div class="col mb-4 mt-4">
            <div class="card text-decoration-none" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{team.name}}</h2>
                    <p class="card-text">{{team.description}}</p>
                </div>
                <div class="card-footer">
                  <div class="btn-group">
                    <LinkTo @route="team-details" @model={{team.id}} class="btn btn-primary">View Team</LinkTo>
                    <button data-bs-target="#editTeam" data-bs-toggle="modal" class="btn btn-warning" type="button" {{on "click" (fn this.editTeam team)}}>Edit Team</button>
                    <button class="btn btn-danger" type="button" {{on "click" (fn this.removeTeam team)}}>Remove Team</button>
                  </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<ModalForm @id="editTeam" @title="Edit Team">
  <CardForm @action={{this.updateTeam}} @submitWording="Update" />
</ModalForm>

<ModalForm @id="addTeam" @title="Add Team">
  <CardForm @action={{this.addTeam}} @submitWording="Add" />
</ModalForm>