{{page-title "TeamDetails"}}

<div style="width: 100%;">
  <TeamMemberHeader @team={{this.model.team}} />
</div>

<TeamMemberDetail
  @team={{this.model.team}}
  @members={{this.model.members}}
  />

{{!-- Add Member Modal --}}


{{!-- {{outlet}} --}}